. título {
    alinear texto : centro;
}

 formato html​
    familia de fuentes : serif;
}

# contenedor  # primer-parrafo {
    color de fondo :  # cee ;
}

artículo  # primer párrafo  en {
    color :  # 933 ;
}

artículo  pág . novelas  a {
    contorno :  1 px sólido # 333 ;
}

# primer-parrafo  a {
    contorno :  1 px sólido # 333 ;
}

 cuerpo  html p . fuente . párrafo {
    opacidad :   100 % ;
    color : # 000  ! importante ;
}
