body{
    color: #ee6;
    background-color: #222;
}

body h1{
    text-align: center;
}

p{
    font-family: sans-serif;
}

h1, h2, h3{
    color: #eee;
    text-transform: uppercase;
}

strong{
    border-bottom-width: 1px solid #eee;
}

.the-force{
   font-weight: 700;
    background-color: #444;
}

.light-side{
    color: #66f;
}

.dark-side{
    color: #f33;
}

#og-trilogy{
    list-style-type: circle;
}

strong{
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
}

h1:hover{
    color: yellow;
}

li a:visited{
    color: #444;
}

li:nth-child(even){
    width:fit-content ;
    background-color: #111;
}
li:nth-child(odd){
    width: fit-content;
    background-color: #333;
}

p::first-line{
    color: #efe;
}

ul:nth-of-type(2){
    padding-left: 1px;
}

ul:nth-of-type(3) li:last-child{
    margin-top: 50px;
}

a:not([href]){    
    color:aqua;
}
