/* 1) Define una media query que cambie el color de fondo del body a rgb(40,60,80) cuando la pantalla 
tenga más de 400px de ancho */
@media(width >= 400px) { 
    body{
        background-color: rgb(40,60,80);
    }
}

/* 2) Define una media query que centre el título h1 cuando la pantalla tenga menos de 800px de ancho */
@media(width <= 800px){
    h1{
        text-align: center;
    }
}

/* 3) Define una media query para que el ancho máximo (max-width) del article sea 50ch criuando el 
dispositivo tiene una pantalla oentada en horizontal (más espacio de ancho que de alto). */
@media(orientation:landscape){
    article{
        max-width: 50ch
    }
}


/* 4) Define una media query para que cambie el color de fondo del título principal h1 cuando el alto 
de la pantalla sea como mínimo 200px. */
@media(width >= 200px){
    h1{
        background-color:red ;
    }
}

/* 5) Define una media query para cambiar el estilo del texto de todos los párrafos para que muestren 
una fuente font-family: serif; cuando la página se imprime (en papel) */
@media print{
    p{
        font-family: serif; 
    }
}

/* 6) Si el usuario prefiere un estilo de colores claros, mostrar los elementos body y h1 con el 
texto en color #111 y el fondo en color #DDD. */
@media (prefers-color-scheme: light){
    body, h1{
        color: #111 !important;
        background-color: #ddd !important;
    }
}

/* 7) Si el dispositivo del usuario es una pantalla y ademas no soporta la accion hover, mostrar 
los links con el color de fondo #212 y con un padding vertical de 2px y horizontal de 5px*/
@media screen and (hover:none){
    a{
        padding: 2px 5px;
        background-color: #212;
    }
}

/* 8) Si el dispositivo del usuario es una pantalla y tiene 800px o mas de ancho, pero menos de 
900px, la imagen no se tiene que mostrar */
@media screen and ( 800px <= width <= 900px){
    img{
        visibility: hidden;
    }
}

/* 9) Si el dispositivo del usuario es una pantalla, y tiene entre 200px y 400px de ancho, mostrar 
la imagen con un alto de 400px, y con el siguiente estilo: object-fit:cover;.  */
@media screen and ( 200px <= width <= 400px){
    img{
        height: 400px;
        object-fit:cover;
    }
}

/* 10) Define una query para el color de fondo del elemento article cambie a #667 cuando un Device Pixel Ratio 
de la pantalla del dispositivo sea mayor a 2. Ayuda: media query resolution, con una unidad expresada en dppx */
@media (min-resolution: 2dppx){
    article{
        background-color: #667;
    }
}
